/* GENERAL */
body {
    margin: 0;
}

h1, h2, h3, p, a {
    margin: none;
    font-family: sans-serif;
}


/* HEADER */

header {
    background-color: #37003C;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
}

header img {
    height: 100px;
}


/* INDEX */

/* GENERAL */

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.h1Index {
    color: #37003C;
    text-align: center;
}

/* CARD */

.cardCard {
    width: 20%;
    padding: 1%;
    margin: 1%;
    background-color: #37003C;
    border-radius: 30px 0;
    box-shadow: 5px 5px 10px #e90052;
    display: flex;
    flex-direction: column;
}

.h2Card, .h3Card {
    color: #e90052;
    text-align: center;
}

.pCard {
    color: white;
}

.teamCard {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.badgeCard {
    height: 50px;
}

.aCard {
    text-decoration: none;
    color: #e90052;
}

.aCard:hover {
    text-decoration: underline;
}

.jerseyCard {
    width: 100%;
    margin: auto;
}

.boldCard {
    font-weight: bold;
    text-align: center;
}

.stadiumCard {
    width: 100%;
    border-radius: 30px 0;
}

/* DETAIL */

.bannerDetail {
    width: 100%;
    margin-bottom: -4px;
}

.teamDetail {
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1Detail {
    color: #e90052;
}

.badgeDetail {
    height: 50px;
    margin-left: 10px;
}

.underBannerDetail {
    background-color: #37003C;
    padding: 0 50px;
    position: sticky;
    top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.underBannerDetail a {
    font-size: 30px;
    color: #e90052;
}

.socialDetail {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.socialDetail a {
    font-size: 30px;
    color: #e90052;
    margin: 0 10px;
}

.mainDetail {
    padding: 70px 0;
    display: flex;
    flex-direction: column;
}

.main1Detail {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.cardDetail {
    width: 30%;
    background-color: #37003C;
    border-radius: 0 25px;
    padding: 30px;
    box-shadow: 5px 5px 10px #e90052;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardDetail img {
    width: 100%;
    border-radius: 0 25px;
}

.h2Detail {
    color: #e90052;
    font-size: xx-large;
    text-align: center;
}

.pDetail {
    color: white;
    line-height: 1.7;
}

.infoDetail {
    background-color: #e90052;
    width: 60%;
    margin: 15px 0;
    padding: 20px;
    border-radius: 0 25px;
}

.h2InfoDetail {
    color: #37003C;
    text-align: center;
}

hr {
    border: solid 1px #37003C;
}

.h3Detail {
    color: #37003C;
}

.cardTrophyDetail {
    width: 10%;
    background-color: #37003C;
    border-radius: 0 25px;
    padding: 30px;
    box-shadow: 5px 5px 10px #e90052;
}

.trophyDetail {
    border: solid #e90052;
    border-radius: 50px;
    text-align: center;
    margin-bottom: 25px;
}

.main2Detail {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardGalleryDetail {
    width: 90%;
    margin-top: 50px;
    background-color: #37003C;
    border-radius: 0 25px;
    padding: 0 30px 30px 30px;
    box-shadow: 5px 5px 10px #e90052;
}

.galleryDetail {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.galleryDetail img {
    width: 8%;
    object-fit: cover;
    border: solid 5px #e90052;
    border-radius: 0 25px;
    background-color: white;
}

.galleryDetail img:hover {
    cursor: pointer;
}

/* FOOTER */

footer {
    height: 40px;
    width: 100%;
    background-color: #37003C;
    padding: 0.5% 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a {
    text-decoration: none;
    font-weight: bold;
    color: #e90052;
}

footer a:hover {
    text-decoration: underline;
}

/* MODAL */

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(147, 147, 147);
    /* Fallback color */
    background-color: rgba(120, 120, 120, 0.9);
    /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    font-family: sans-serif;
    font-weight: bold;
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #37003C;
    padding: 10px 0;
    height: 150px;
  }

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* The Close Button */
.close {
    position: absolute;
    top: 0px;
    right: 50%;
    transform: translateX(+50%);
    color: #37003C;
    font-size: 80px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #e90052;
    text-decoration: none;
    cursor: pointer;
}

/* RESPONSIVE */

/* HEADER */

@media screen and (max-width : 920px) {
    header img {
        height: 70px;
    }
}

@media screen and (max-width : 600px) {
    header img {
        height: 50px;
    }
}

/* INDEX */

@media screen and (max-width : 920px) {
    .cardCard {
        width: 40%;
        padding: 2%;
    }
}

@media screen and (max-width : 600px) {
    .cardCard {
        width: 100%;
        margin: 3%;
        padding: 3%;
    }
}

/* DETAIL */

@media screen and (max-width : 920px) {
    .underBannerDetail {
        top: 68px;
    }
    
    .underBannerDetail a {
        font-size: 20px;
    }

    .h1Detail {
        font-size: 20px;
    }

    .badgeDetail {
        height: 35px;
    }

    .main1Detail {
        flex-direction: column;
        align-items: center;
    }
    
    .cardDetail {
        width:75%;
        margin-bottom: 30px;
    }

    .cardTrophyDetail {
        width:75%;
    }

    .cardGalleryDetail {
        width: 75%;
    }

    .galleryDetail {
        flex-wrap: wrap;
    }

    .galleryDetail img {
        width: 28%;
        margin-bottom: 20px;
    }
    
}

@media screen and (max-width : 600px) {
    .underBannerDetail {
        top: 49px;
    }
    
    .underBannerDetail a {
        font-size: 10px;
    }

    .h1Detail {
        font-size: 10px;
    }

    .badgeDetail {
        height: 15px;
    }

    .main1Detail {
        flex-direction: column;
        align-items: center;
    }

    .cardDetail {
        width:75%;
        margin-bottom: 30px;
    }

    .cardTrophyDetail {
        width:75%;
    }

    .cardGalleryDetail {
        width: 75%;
    }

    .galleryDetail {
        flex-wrap: wrap;
    }

    .galleryDetail img {
        width: 28%;
        margin-bottom: 20px;
    }

}