.all {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    height: 250px;
    width: 650px;
    background-color: lightslategray;
    border-radius: 50px 0;
    margin: 15px 0;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.car img {
    height: 250px;
    margin-right: 30px;
    border-radius: 50px 0;
}

h2, p {
    font-family: sans-serif;
}

h2{
    color: darkred;
    font-size: 30px;
}