body {
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    font-size: 30px;
}

#my_button {
    width: 110px;
    margin-left: 20px;
}

#colorText {
    text-align: center;
}